.navbar {
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 30px;

  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.navbar__black {
  background-color: #111;
}

.navbar__logo {
  width: 130px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.navbar__avatar {
  object-fit: contain;
  width: 30px;
  position: fixed;
  right: 20px;
}
